body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* GitHub background color */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #24292e; /* GitHub header background color */
    color: white;
    padding: 20px;
    text-align: center;
}

.header img {
    width: 50px;
    margin-right: 10px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.search-container {
    text-align: center;
    margin: 20px 0;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da; /* GitHub input border color */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745; /* GitHub green color */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px; /* Rounded corners */
}

button:hover {
    background-color: #218838; /* GitHub darker green color */
}

.github-stats-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.user-photo {
    width: 150px; /* Adjust the size of the rounded photo */
    border-radius: 50%; /* Make the photo rounded */
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #24292e; /* GitHub footer background color */
    color: white;
    border-radius: 0 0 8px 8px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer p {
    margin: 0;
}

.footer a:hover {
    text-decoration: underline;
}